@model List<City>

@{
    ViewData["Title"] = "CityList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8  ">
            <table class="table table-bordered table-striped">
                <h3 class="text text-primary text-center mt-2">Şehir Bilgileri</h3>
                <tr>
                    <th>Şehir Adı</th>
                    <th>Düzenle</th>
                    <th>Sil</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CityName</td>
                        <td><a asp-controller="Admin" asp-action="CityEdit" asp-route-id="@item.CityId" class="btn btn-outline-info">Düzenle</a></td>
                        <td><a asp-controller="Admin" asp-action="CityDelete" asp-route-id="@item.CityId" class="btn btn-outline-danger">Sil</a></td>
                    </tr>
                }
            </table>

        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4"> </div>
        <div class="col-md-4">
            <h3 class="text-success text-center">Şehir Oluştur</h3>
            <a asp-controller="Admin" asp-action="CityAdd" class="btn btn-primary form-control">Ekle</a>
        </div>
        <div class="col-md-4"></div>


    </div>

</div>

